# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/

# Environment variables
.env
.env.*

# Database
*.db
*.sqlite
*.sqlite3

# Node
node_modules/
dist/

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db

# Frontend
frontend/node_modules/
frontend/dist/

# Test files
cookies.txt
body.json